services:
  - type: web
    name: coffee-order-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        value: coffee_order_db
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false

